:root {
    --header-h: 70px;
    --header-bg: #fff;
    --header-bg-color: #cacaca;
}

html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.header {
    height: var(--header-h);
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--header-bg-color);
}

.header-logo {
    border-right: 2px solid var(--header-bg-color);
    text-align: center;
}

.header-logo img {
    max-width: 70%;
}

.header-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.header-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-menu .header-menu-item ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-menu .menu-button-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-menu .menu-button-wrap a {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.4s;
}

.header-menu .menu-button-wrap a:hover,
.header-menu .menu-button-wrap .active {
    color: rgb(41, 110, 214);
}

.product-info {
    margin: 20px auto;
}

.product-info-wrap {
    display: flex;
}

.product-info-video {
    flex: 2;
}

.product-info-text {
    flex: 1;
    padding-left: 20px;
}

.product-info .category-nav {
    display: flex;
    gap: 25px;
    color: #7d7d7d;
}

.product-info .category-nav li {
    position: relative;
}

.product-info .category-nav li::after {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    content: '\e5cc';
    top: 4px;
    right: -20px;
}

.product-info .category-nav li:last-child::after {
    display: none;
}

.product-info .author-name {
    color: #179c28;
}

.product-info .product-name {
    font-size: 1.6rem;
    margin: 20px auto;
}

.product-info .project-process {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-info .goal-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 2px solid #179c28;
    border-radius: 1000px;
    font-size: 0.9rem;
}

.product-info .process-info {
    flex: 1;
}

.product-info .project-goal {
    font-size: 0.9rem;
    color: #7d7d7d;
}

.product-info .project-current {
    font-size: 2rem;
    font-weight: 700;
}

.product-info .project-count {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.product-info .project-count-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-info .project-count-item>span:last-child {
    color: #179c28;
}