:root {
    --header-h: 70px;
    --header-bg: #fff;
    --header-bg-color: #cacaca;
    --second-bg-color: #7d7d7d;
}

html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.header {
    height: var(--header-h);
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--header-bg-color);
}

.header-logo {
    border-right: 2px solid var(--header-bg-color);
    text-align: center;
}

.header-logo img {
    max-width: 70%;
}

.header-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.header-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-menu .header-menu-item ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-menu .menu-button-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-menu .menu-button-wrap a {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.4s;
}

.header-menu .menu-button-wrap a:hover,
.header-menu .menu-button-wrap .active {
    color: rgb(41, 110, 214);
}

.product-info {
    margin: 20px auto;
}

.product-info-wrap {
    display: flex;
    align-items: center;
}

.product-info-video {
    flex: 2;
}

.product-info-text {
    flex: 1;
    padding-left: 20px;
}

.product-info .category-nav {
    display: flex;
    gap: 25px;
    color: var(--second-bg-color);
    font-size: 0.9rem;
}

.product-info .category-nav li {
    position: relative;
}

.product-info .category-nav li::after {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    content: '\e5cc';
    top: 4px;
    right: -20px;
}

.product-info .category-nav li:last-child::after {
    display: none;
}

.product-info .author-name {
    color: #179c28;
}

.product-info .product-name {
    font-size: 1.6rem;
    margin: 20px auto;
}

.product-info .project-process {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-info .goal-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid #179c28;
    border-radius: 1000px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 4px 1px inset #ababab;
}

.product-info .process-info {
    flex: 1;
}

.product-info .project-goal {
    font-size: 0.9rem;
    color: #7d7d7d;
}

.product-info .project-current {
    font-size: 2rem;
    font-weight: 700;
}

.product-info .project-count {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.product-info .project-count-item {
    display: flex;
    align-items: center;
    gap: 5px;

}

.product-info .project-count-item>span:last-child {
    color: #179c28;
}

.product-info .project-description {
    font-size: 0.9rem;
    line-height: 26px;
    text-align: justify;
    margin: 15px auto;
}

hr.line {
    border-color: var(--header-bg-color);
}

.product-info .project-run-range {
    font-size: 0.8rem;
    margin: 15px auto;
    color: var(--second-bg-color);
}

.product-info .share-items {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 0.8rem;
    color: #666666;
}

.share-items .send-message {
    padding: 5px;
    border: 1px solid var(--header-bg-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.share-items .material-symbols-outlined {
    font-size: 16px;
}

.share-items img {
    max-width: 30px;
}

.share-items .copy-icon {
    /* 在目前的結構，display用flex也行。加上inline讓他保持內聯的屬性，但又能做置中等的flex功能 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid var(--header-bg-color);
    border-radius: 99px;
}

.main-nav-block {
    background-color: #f9fafb;
    height: 60px;
}

.main-nav-block .main-nav-wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav-wrap .page-tap {
    flex: 2;
}

.main-nav-wrap .page-tap .tabs {
    display: flex;
    gap: 25px;
    align-items: center;
}

.page-tap .tabs li {
    font-size: 1rem;
    font-weight: 600;
    position: relative;
}

.page-tap .tabs li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: -4px;
    background-color: #43946c;
    bottom: -10px;
    transition: 0.3s;
}

.page-tap .tabs li.active::after {
    width: calc(100% + 8px);
    /* 偽元素為absolute，會把relataive當參考。偽元素width設100%，會跟著參考物的最大寬度走。
    用calc將width以參考物寬加長，再用left扣回去置中 */
}

.page-tap .tabs li a::after {
    /* data-count及偽元素attr屬性的結合應用 */
    content: attr(data-count);
    padding-left: 8px;
    font-size: 0.8rem;
    font-weight: 600;
}

.main-nav-wrap .donate-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.donate-wrap .like-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #43946c;
    border-radius: 4px;
    color: #43946c;
    transition: 0.3s;
}

.donate-wrap .like-btn:hover {
    border-color: #41db8e;
    color: #41db8e;
}

.donate-wrap .like-btn .material-symbols-outlined {
    color: inherit;
}

.donate-wrap .donate-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43946c;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    color: #fff;
    transition: 0.3s;
}

.donate-wrap .donate-btn:hover {
    background-color: #41db8e;
}